<?xml version="1.0"?>
<robot>

  <!-- Slider Link -->
  <gazebo reference="slidebar">
    <material>Gazebo/Black</material>
  </gazebo>

  <!-- Cart Link -->
  <gazebo reference="cart">
    <material>Gazebo/Blue</material>
  </gazebo>

  <!-- Pole Link -->
  <gazebo reference="pole">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
    <robot_param>robot_description</robot_param>
    <robot_param_node>robot_state_publisher</robot_param_node>
    <parameters>/home/abhilash-ts434/cart/install/cart_description/share/cart_description/config/my_controllers.yaml</parameters>
    </plugin>
  </gazebo>

</robot>