<?xml version="1.0"?>
<robot>

<ros2_control name="GazeboSystem" type="system">
    <hardware>
        <plugin>gazebo_ros2_control/GazeboSystem</plugin>
    </hardware>
    <joint name= "slider_to_cart">
        <command_interface name="effort">
          <param name="min">-1000</param>
          <param name="max">1000</param>
        </command_interface>
        <state_interface name="position">
        <param name="initial_value">0.0</param>
        </state_interface>
        <state_interface name="velocity"/>
    </joint>
</ros2_control>

</robot>
